CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CLion ignores
cmake-build-debug
.idea

# our configuration file and executables
buffering.conf
buffer_experiment
buffertree_tests
test_*
build
lib

# Mac files
*.DS_Store
